aiohttp==3.8.4

aiosignal==1.3.1

appdirs==1.4.4

asttokens
async-generator==1.10

async-timeout==4.0.2

attrs==23.1.0

backcall
backoff==2.2.1

backports.functools-lru-cache
beautifulsoup4==4.12.2

cachetools==5.3.1

certifi==2022.12.7

cffi==1.15.1

charset-normalizer==3.1.0

cohere==4.9.0

colorama
comm
courlan==0.9.3

cryptography==41.0.1

cssselect==1.2.0

cssutils==2.7.1

dataclasses-json==0.5.8

dateparser==1.1.8

debugpy
decorator
email-to==0.1.0

exceptiongroup==1.1.1

executing
frozendict==2.3.8

frozenlist==1.3.3

greenlet==2.0.2

h11==0.14.0

html5lib==1.1

htmldate==1.4.3

idna==3.4

importlib-metadata
ipykernel
ipython
jedi
jupyter_client
jupyter_core
jusText==3.0.0

langchain==0.0.197

langchainplus-sdk==0.0.8

langcodes==3.3.0

lxml==4.9.2

Markdown==3.4.3

marshmallow==3.19.0

marshmallow-enum==1.5.1

matplotlib-inline
multidict==6.0.4

multitasking==0.0.11

mypy-extensions==1.0.0

nest-asyncio
numexpr==2.8.4

numpy==1.24.3

openai==0.27.8

openapi-schema-pydantic==1.2.4

outcome==1.2.0

packaging
pandas==2.0.2

pandas-ta==0.3.14b0

parso
pickleshare
platformdirs
polygon-api-client==1.9

premailer==3.10.0

prompt-toolkit
psutil
pure-eval
pycoingecko==3.1.0

pycparser==2.21

pydantic==1.10.9

Pygments
PySocks==1.7.1

python-dateutil
python-dotenv==1.0.0

pytz==2023.3

pywin32==304

PyYAML==6.0

pyzmq
regex==2023.6.3

requests==2.31.0

requests-futures==1.0.0

secure-smtplib==0.1.1

selenium==4.10.0

six
sniffio==1.3.0

sortedcontainers==2.4.0

soupsieve==2.4.1

SQLAlchemy==2.0.16

stack-data
ta==0.10.2

tenacity==8.2.2

tld==0.13

tornado
tqdm==4.65.0

trafilatura==1.6.0

traitlets
trio==0.22.0

trio-websocket==0.10.3

typing-inspect==0.9.0

typing_extensions
tzdata==2023.3

tzlocal==5.0.1

urllib3==1.26.16

wcwidth
webdriver-manager==3.8.6

webencodings==0.5.1

websockets==10.4

wsproto==1.2.0

yahooquery==2.3.1

yarl==1.9.2

yfinance==0.2.18

zipp
